MockOptimizer:
  initialize:
    method: prior
  printing:
    silence: false
  updates:
    iterations_per_update: 2500
    remove_state_files_at_end: true
MockSearch:
  initialize:
    method: prior
  printing:
    silence: false
  search: {}
  updates:
    iterations_per_update: 2500
    remove_state_files_at_end: true