autoconf==0.7.3
corner>=2.0.1
decorator>=4.2.1
dill>=0.3.1.1
dynesty==1.0.1
typing-inspect>=0.4.0
emcee==3.0.2
ipython>=7.0.1
ipykernel>=5.1.0
nbsphinx>=0.7.0
nbsphinx-link>=1.3.0
numpydoc>=1.0.0
pyswarms==1.1.0
PyYAML>=3.12
h5py==2.10.0
jupyter_client>=5.2.3
pygments==2.4.1
pyprojroot>=0.2.0